/* common style  */

body{
    font-family: 'Bebas Neue', cursive;
}

header{
    background: #FFF9F4;
}

.my-button{
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 10px;
    border: none !important;
}

/* heading starts  */

.display-heading h1{
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
}

/* card starts  */

.card-headind{
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #363958;
    margin: 35px 0;
}

.card{
    border: none !important;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.card-image{
    background-color: #f1f1f1;
}

/* service starts  */
.service{
    padding: 5px 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
